@import 'tailwindcss';

:root {
  --program-row-height: 40px;
  --program-row-width: 210px;
}

@layer components {
  .program-event {
    @apply absolute overflow-hidden rounded-xs;
    width: var(--program-row-width);
    top: var(--program-event-top);
    height: var(--program-event-height);
    left: var(--program-event-left);
  }
}

.program-zone {
    @apply h-[var(--program-row-height)] hover:bg-zinc-50 dark:hover:bg-zinc-900 bg-white dark:bg-zinc-700 cursor-pointer border border-zinc-100;
}

.program-zone[data-dragging] {
    @apply bg-zinc-100;
}
